@import url('https://fonts.googleapis.com/css?family=Lora');

$color-primary : #3aad4d;
$color-secondary: chocolate;
$color-tertiary: indianred;
$color-primary-light: lighten( $color-primary, 10% );
$color-primary-dark: darken( $color-primary, 10% );
$color-secondary-light: lighten( $color-secondary, 10% );
$color-secondary-dark: darken( $color-secondary, 10% );


html, body {
  height: 100%;
  box-sizing: content-box;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
}

input, select, textarea, button {
  font-family:inherit;
}

img{
  width: 100%;
  height: auto;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

input[type=button] {
  background-color: $color-primary;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
    &:hover{
      background-color: $color-primary-light;
    }
}